@supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
    }
    
:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; 
    /* fix for Chrome */
}
/* Estilo global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.animacao {
    animation: move 0.5s infinite linear;
  }

@keyframes move {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
    100%{
      transform: translateY(0)
    }

  }


/* Layout da página */



